
<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}" *ngIf="planos.length">
   
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
        <mat-cell *matCellDef="let plan">
            <p class="text-truncate font-weight-600">{{ plan.name }}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numberOfInstallments">
        <mat-header-cell *matHeaderCellDef>Parcelas</mat-header-cell>
        <mat-cell *matCellDef="let plan">
            <p class="font-weight-600">{{ plan.numberOfInstallments }} MESES</p>
        </mat-cell>
    </ng-container>
   
    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let plan">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation(); updatePlano(plan)" aria-label="Editar Consórcio">
                    <mat-icon class="secondary-text">edit</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deletePlano(plan)">
                        <mat-icon>delete</mat-icon>
                        <span>Excluir</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let plan; columns: displayedColumns;"
             class="contacts"
             (click)="updatePlano(plan)"
        
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<div class="message-box info" style="width: 100%" *ngIf="!planos.length">
        Nenhum consórcio encontrado!
</div>

