@import "src/@fuse/scss/fuse";

#users {

    display: flex;
    flex: 1 1 auto;
    width: 100%;

    .header {

        .search-wrapper {
            width: 100%;
            max-width: 480px;
            border-radius: 28px;
            overflow: hidden;
            @include mat-elevation(1);

            .search {
                width: 100%;
                height: 48px;
                line-height: 48px;
                padding: 0 18px;

                input {
                    width: 100%;
                    height: 48px;
                    min-height: 48px;
                    max-height: 48px;
                    padding: 0 16px;
                    border: none;
                    outline: none;
                }
            }
        }
    }

    .content {
        overflow: hidden;

        .sidebar {

            &:not(.locked-open) {
                background: white;
            }
        }
    }
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;

}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.pagination a.active {
    cursor: pointer;
}

.pagination a:active {
    outline: none;
}

.modal-4 a {
    margin: 0 5px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #039be5;
    cursor: pointer;
}

.modal-4 a.prev {
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px;
    width: 100px;
    background-color: #039be5;
}

.modal-4 a.next {
    -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0;
    width: 100px;
    background-color: #039be5;
}

.modal-4 a:hover {
    background-color: #1A237E;
    // background-color: #F7C12C;
}

.modal-4 a.active,
.modal-4 a:active {
    background-color: #1A237E;
    // background-color: #F7C12C;
}

body.theme-default a {
    color: #fff !important;
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    margin-top: 10px;
}

.mat-table {
    width: 100%;
    background: transparent;
    box-shadow: none;

    .mat-column-avatar {
        max-width: 80px;
        min-width: 80px;
        padding-left: 18px;
    }

    .mat-column-name {
        max-width: 300px;
        min-width: 300px;
    }

    .mat-column-buttons {
        flex: 0 1 80px;
    }

    .mat-row {
        position: relative;
        cursor: pointer;
        padding: 8px;

        .mat-cell {
            min-width: 0;

            &.mat-column-detail-button {
                flex: 0 1 auto;
                padding: 0 24px 0 0;

                @include media-breakpoint('gt-md') {
                    display: none;
                }
            }
        }
    }
}

// }

#add-contact-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint('xs') {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}