<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
   
    <!-- Codigo Column -->
    <ng-container matColumnDef="codeBenefit">
        <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
        <mat-cell *matCellDef="let bem">
            <p class="text-truncate font-weight-600">{{ bem.codeBenefit }}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
        <mat-cell *matCellDef="let bem">
            <p class="text-truncate font-weight-600">{{bem.name}}</p>
        </mat-cell>
    </ng-container>

    <!-- Valor Column -->
    <ng-container matColumnDef="valueCredit">
        <mat-header-cell *matHeaderCellDef>Crédito</mat-header-cell>
        <mat-cell *matCellDef="let bem">
            <p class="text-truncate font-weight-600">{{ bem.valueCredit | currency: 'BRL' }}</p>
        </mat-cell>
    </ng-container>
   
    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let bem">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation(); updateBem(bem)" aria-label="Editar Bem">
                    <mat-icon class="secondary-text">edit</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteBem(bem)">
                        <mat-icon>delete</mat-icon>
                        <span>Excluir</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let bem; columns: displayedColumns;"
             class="contacts"
             (click)="updateBem(bem)"
        
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


