<div class="message-box info" style="width: 100%;" *ngIf="!exist">
    Nenhuma numeração cadastrada!
</div>

<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}" *ngIf="exist">

    <!-- Numero Column -->
    <ng-container matColumnDef="numberStart">
        <mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
        <mat-cell *matCellDef="let number">
            <p class="text-truncate font-weight-600">{{ number.numberStart }}</p>
        </mat-cell>
    </ng-container>

    <!-- Numero Final Column -->
    <ng-container matColumnDef="numberEnd">
        <mat-header-cell *matHeaderCellDef>Número Final</mat-header-cell>
        <mat-cell *matCellDef="let number">
            <p class="text-truncate font-weight-600">{{ number.numberEnd }}</p>
        </mat-cell>
    </ng-container>

    <!-- Representante Column -->
    <ng-container matColumnDef="idRepresentative">
        <mat-header-cell *matHeaderCellDef>Representante</mat-header-cell>
        <mat-cell *matCellDef="let number">
            <p class="text-truncate font-weight-600">{{ number.idRepresentative }}</p>
        </mat-cell>
    </ng-container>

    <!-- Consorcio Column -->
    <ng-container matColumnDef="idConsortium">
        <mat-header-cell *matHeaderCellDef>Consórcio</mat-header-cell>
        <mat-cell *matCellDef="let number">
            <p class="font-weight-600">{{ number.idConsortium }}</p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let number">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation(); updateContractNumber(number)"
                    aria-label="Editar Numeração">
                    <mat-icon class="secondary-text">edit</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContractNumber(number)">
                        <mat-icon>delete</mat-icon>
                        <span>Excluir</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let plan; columns: displayedColumns;" class="contacts" (click)="updatePlano(plan)" matRipple
        [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

