<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="formBankAccount">

            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Descrição</mat-label>
                    <input name="name" formControlName="name" matInput required>
                    <mat-error>
                        A descrição é obrigatório
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="25">
                    <mat-label>Tipo de Conta</mat-label>
                    <mat-select formControlName="typeAccount">
                        <mat-option [value]="''">Selecione..</mat-option>
                        <mat-option *ngFor="let item of typeAccounts" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="statusAccount">
                        <mat-option [value]="''">Selecione..</mat-option>
                        <mat-option *ngFor="let item of statusAccounts" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="25">
                    <mat-label>Data Abertura</mat-label>
                    <input matInput [matDatepicker]="openDatePicker" name="openDate" formControlName="openDate">
                    <mat-datepicker-toggle matSuffix [for]="openDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #openDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="25">
                    <mat-label>Data Encerramento</mat-label>
                    <input matInput [matDatepicker]="closingDatePicker" name="closingDate"
                        formControlName="closingDate">
                    <mat-datepicker-toggle matSuffix [for]="closingDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #closingDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Empresa</mat-label>
                    <mat-select formControlName="idUnity">
                        <mat-option [value]="''">Selecione..</mat-option>
                        <mat-option *ngFor="let item of unities" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="34">
                    <mat-label>Conta Contábil</mat-label>
                    <mat-select formControlName="accountingAccount">
                        <mat-option [value]="''">Selecione..</mat-option>
                        <mat-option *ngFor="let item of unities" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="33">
                    <mat-label>Integração - Débito</mat-label>
                    <mat-select name="treasuryCredit" formControlName="treasuryCredit">
                        <mat-option [value]="''">Selecione..</mat-option>
                        <mat-option *ngFor="let item of unities" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Integração - Crédito</mat-label>
                    <mat-select formControlName="treasuryDebit">
                        <mat-option [value]="''">Selecione..</mat-option>
                        <mat-option *ngFor="let item of unities" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="25">
                    <mat-label>Banco</mat-label>
                    <mat-select formControlName="idBank">
                        <mat-option [value]="''">Selecione..</mat-option>
                        <mat-option *ngFor="let item of banks" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="15">
                    <mat-label>Agência:</mat-label>
                    <input type="number" name="agency" formControlName="agency" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="10">
                    <mat-label>DV:</mat-label>
                    <input type="number" name="dvAgency" formControlName="dvAgency" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-8" fxFlex="15">
                    <mat-label>Nº Conta:</mat-label>
                    <input type="number" name="account" formControlName="account" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="10">
                    <mat-label>DV:</mat-label>
                    <input type="number" name="dvAccount" formControlName="dvAccount" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="25">
                    <mat-label>Carteira:</mat-label>
                    <input name="wallet" formControlName="wallet" matInput>
                </mat-form-field>

            </div>



            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="20">
                    <mat-label>Limite:</mat-label>
                    <input type="number" name="limit" formControlName="limit" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="30">
                    <mat-label>Nosso Número:</mat-label>
                    <input type="number" name="nextOurNumber" formControlName="nextOurNumber" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="20">
                    <mat-label>Operação:</mat-label>
                    <input type="number" name="operation" formControlName="operation" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="pl-8" fxFlex="20">
                    <mat-label>Cód. Cedente:</mat-label>
                    <input type="number" name="codeAssignor" formControlName="codeAssignor" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="10">
                    <mat-label>DV:</mat-label>
                    <input type="number" name="dvAssignor" formControlName="dvAssignor" matInput>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center">

                <mat-form-field appearance="outline" fxFlex="25">
                    <mat-label>Empresa Banco:</mat-label>
                    <input type="number" name="bank" formControlName="bank" matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="px-8" fxFlex="20">
                    <mat-label>Juros/Dia:</mat-label>
                    <input type="number" name="interest" formControlName="interest" matInput>
                    <span class="secondary-text" matSuffix>&#37;&nbsp;</span>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex="20">
                    <mat-label>Multa:</mat-label>
                    <input type="number" name="fine" formControlName="fine" matInput>
                    <span class="secondary-text" matSuffix>&#37;&nbsp;</span>
                </mat-form-field>

                <mat-checkbox class="ml-32 mr-16 mb-3" formControlName="used">PRINCIPAL
                </mat-checkbox>

                <mat-slide-toggle class="ml-32" formControlName="active">
                    Ativo
                </mat-slide-toggle>


            </div>



            <div class="show-hide-extra-fields" (click)="toggleExtraToFields()">
                <span [fxShow]="!showExtraToFields">Mais Campos de Instruçōes</span>
                <span [fxShow]="showExtraToFields">Menos Campos de Instruçōes</span>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Instruçōes de Pagamento</mat-label>
                    <input matInput name="instructionPayment1" formControlName="instructionPayment1" type="text">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" [fxShow]="showExtraToFields">
                <mat-form-field appearance="outline" fxFlex>
                    <!-- <mat-label>Instruçōes de Pagamento</mat-label> -->
                    <input matInput name="instructionPayment2" placeholder="Instruçōes de Pagamento" formControlName="instructionPayment2" type="text">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start" [fxShow]="showExtraToFields">
                <mat-form-field appearance="outline" fxFlex>
                    <!-- <mat-label>Instruçōes de Pagamento</mat-label> -->
                    <input matInput name="instructionPayment3" placeholder="Instruçōes de Pagamento" formControlName="instructionPayment3" type="text">
                </mat-form-field>
            </div>





            <div *ngIf="_action === 'editar'" fxLayout="row" fxLayoutAlign="end center">
                <mat-slide-toggle class="slide-margin">
                    ativo
                </mat-slide-toggle>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="_action === 'editar'" mat-button color="accent" class="mr-8"
            (click)="matDialogRef.close(['delete',formBankAccount])" aria-label="Delete" matTooltip="Delete">
            EXCLUIR
        </button>

        <button *ngIf="_action !== 'editar'" mat-raised-button color="accent" class="save-button"
            (click)="matDialogRef.close(formBankAccount)" [disabled]="formBankAccount.invalid" aria-label="SAVE">
            ADICIONAR
        </button>

        <button *ngIf="_action === 'editar'" mat-raised-button color="accent" class="save-button"
            (click)="matDialogRef.close(['save',formBankAccount])" [disabled]="formBankAccount.invalid"
            aria-label="SAVE">
            SALVAR
        </button>

    </div>
</div>